.container {
    width:800px;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
  margin-bottom: 2rem;
}

.footer {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  border-top: .05rem solid #e5e5e5;
  margin-top: 2rem;
}

#toolbox {
    height: 400px;
}

#tools {
    height: 50px;
}